h1
{
    display: inline;
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;   
}

#content 
{
    text-align: center;
}
#content p 
{
    width: 750px;
}